
:root {
  --button: bold 14px/22px var(--fontBase);
  --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #4e5be9 0%, rgba(12, 109, 219, 0) 100%), linear-gradient(135deg, #16e5ec 0%, #4545cc 100%);
  --azul: #00a4e1;
  --fondo: #c7e0e7;
  --gris: #ced5ce;
}

.section1{
    /* background: url(../images/fondo2.jpg); */
    background: #01949a;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.section10{
    background: url(../images/wraper.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section2{
    background: url(../img/2.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}
.section3{
    background: url(../img/3.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section4{
    background: url(../img/4.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section1 h2{
    color: white;
    font-size: 2.5em;
    opacity: 0.76;
    text-align: center;
    padding: 40px;
}
.texto__columna{
    text-align: justify;
    margin: 10px;
    padding: 10px 20px;
    background: rgba(255,255,255,0.8);
    width: 90%;
}
section .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section3 h2{
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 2.5em;
    opacity: 0.76;
    text-align: center;
    margin-top: 250px;
    padding: 10px;
}
.section4 h3{
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 2.5em;
    opacity: 0.76;
    text-align: center;
    margin-top: 250px;
    padding: 10px;
}
@media(min-width:620px){
    .texto__columna{
        width: 40%;
    }
    .section1 h1{
        font-size: 3em;
    }
     .section3 h2{
        font-size: 3em;
    }
     .section4 h3{
        font-size: 3em;
    }
}
@media(min-width:1024px){
    .contenedor{
        width: 1024px;
    }
    .texto__columna{
        width: 19%;
    }
      .section1 h1{
        font-size: 4em;
    }
     .section3 h2{
        font-size: 4em;
    }
     .section4 h3{
        font-size: 4em;
    }
}
@media(min-width:1200px){
    .contenedor{
        width: 1200px;
    }
}
    
    
    
#hero {
    width: 100%;
    background: rgb(245, 245, 245);
    /* height: 70vh;
    position: relative; */
    /* background: url("../img/hero-bg.jpg") top center; */
    /* background-size: cover; */
    /* position: relative; */
  }
  
  /* #hero:before {
    content: "";
    background: rgba(202, 32, 32, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  } */
  
  #hero .container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #000000;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
  }
  
  #hero .btn-get-started:hover {
    background: #3194db;
  }
  
  #hero .icon-boxes {
    margin-top: 50px;
    /* background: #01949a; */
    /* padding: 100px; */
  }
  
  #hero .icon-box {
    padding: 5px 5px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  
  #hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
  }
  
  #hero .icon-box .title a {
    color: #000000;
    transition: 0.3s;
  }
  
  /* #hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
   */
   #hero .container .showed-content{

     /* width: 50%; */
     /* background: yellow;
     border-radius: 50%; */
     padding: 15px;
     text-align: center;
    }
  #hero .container .showed-content img {
    border: #01949a solid 5px;
    width: 100%;
    background: yellow;
    border-radius: 50%;

  }

  /* #hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: var(--azul);
  }
   */
  #hero .icon-box:hover {
    transform: scale(1.08);
  }
  
  #hero .icon-box:hover .title a {
    color: var(--azul);
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;

    }
  }
  
  @media (max-height: 800px) {
    #hero {
      height: auto;      }
      #hero .icon-box {
        margin: 30px 0 30px 0;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      height: auto;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
        
.block-info h2 {
  letter-spacing: 2px;    
  color: #f7f7f7;
}
    
.blocks-button {
  margin-top: 70px;

}

/* -------------------------------------- */



/* start service */
#servicee
  {
    min-height: 300px;
    padding: 80px 0 60px 0;
  }
#servicee h2
  {
    color: #333;
    /* font-weight: bold; */
    /* letter-spacing: 1px !important; */
    padding-bottom: 50px;
  }
#servicee .media img
  {
    width: 25%;
    /* padding: 40px 0 10px 0; */
  }
#servicee .media .fa
  {
    background: #0c4cac;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    /* text-align: center; */
    margin: 0 10px 0 0;
    padding-right: 0;
  }
#servicee .media .media-heading
  {
    color: #0c4cac;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
  }
#servicee
  {
    font-weight: 400;
  }
/* end service */
#servicee .container .row .media-body p {
  font-size: 18px;
}







